<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Farm </title>
</head>
<body>
    <h1>Enter new Item</h1>
    <form action="/farms" method="post">
        <label for="name">Enter the Farm name</label>
        <input type="text" name="name" id="name" placeholder="Enter Farms name">

        <label for="city">Enter city name</label>
        <input type="text" name="city" id="city" placeholder="Enter city name">

        <label for="email">Enter the email</label>
        <input type="text" name="email" id="email" placeholder="Enter email">

     <button>Submit</button>
    </form>
    <a href="/farms">back to farms list</a>

        

</body>
</html>